.card-hotel {
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    /* position: fixed; */
    /* bottom: 0px; */
    width: 100%;
    padding: 20px;
}

.footer-address-icon {
    padding-right: 10px;
}